
.left-sidebar {
  display: inline-block;
  border-left: 0%;
  border-right: 1%;
  border-top: 0vh;
  border-bottom: 0vh;
  border-style: solid;
  border-color: black;
  background-color: #929292;
  max-width: 15%;
  min-width: 15%;
  height: 97vh;
  min-height: 97vh;
}

.left-sidebar > #left-sidebar-header {
  height: 4%;
  min-height:4%;
  width: 100%;
  background-color: #646464;
  color: #BEBEBE;
  justify-content: center;
}

.left-sidebar > #left-sidebar-body {
  position: below;
  height: 96%;
  min-height: 96%;
  width: 100%;
  background-color: #929292;
  color: #BEBEBE;
  justify-content: center;
}


.left-sidebar > #left-sidebar-body > #left-sidebar-friend-item {
  position: relative;
  border-radius: 2%;
  border-color: black;
  border-style: solid;
  height: 4%;
  min-height:4%;
  margin-left: 2%;
  max-width: 94%;
  min-width: 94%;
  background-color: #929292;
  color: #BEBEBE;
  justify-content: center;
  text-align: center;
}

.chat-window {
  display: inline-block;
  background-color: #929292;
  vertical-align: top;
  max-width: 84%; 
  min-width: 84%;
  height: 97vh;
  min-height: 97vh;
}

.chat-window > #chat-window-body {
  /* display: flex;
  flex-direction: column-reverse; */
  display: inline-block;
  position: below;
  height: 80%;
  min-height: 80%;
  width: 100%;
  background-color: #929292;
  color: #BEBEBE;
  justify-content: center;
  overflow: auto;
}

.chat-window > #chat-window-body > #chat-window-message-item {
  display: block;
  border-radius: 2%;
  border-color: black;
  border-style: solid;
  position: relative;
  height: 4%;
  min-height:4%;
  margin-left: 2%;
  width: 94%;
  background-color: #929292;;
  color: #BEBEBE;
  justify-content: center;
}
.chat-window > #chat-window-input {
  display: block;
  background-color: #646464;
  max-height: 16%;
  min-height: 16%;
  width: 100%;
}
.chat-window > #chat-window-header {
  display: block;
  text-align: center;
  background-color: #646464;
  color: #BEBEBE;
  max-height: 4%;
  min-height: 4%;
  width: 100%;
}